@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #6100ad;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-bottom: 2px solid #fff;
}

.navbar .menu-items {
  display: flex;
  padding-top: 7px;
  height: 100vh;
  width: 100%;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  margin-left: 20px;
  height: 32px;
  width: 32px;
  top: 15px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  margin-left: 20px;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: none;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  margin-right: 20px;
  right: 15px;
  font-size: 1.2rem;
  color: #fff;
  z-index: 5;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
  z-index: 3;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 700px) {
  .nav-container .hamburger-lines .line{
    display: block;
  }

  .navbar .menu-items {
    border-top: 2px solid white;
    padding: 60px 0;
    background-color: #6100ad;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
}

.firstContainer{
    background-color: #6100ad;
    padding: 50px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.firstContainer .left{
    padding: 10% 10% 0 0;
    font-size: larger;
    font-weight: 600;
    color: #fff;
}

.firstContainer .right img{
    width: 400px;
}

@media screen and (max-width: 760px){
    .firstContainer{
        padding: 0;
        display: block;
    }
    .firstContainer .right img{
        width: 100%;
    }
    .firstContainer .left{
        padding: 20px 10px;
    }
}

.secondContainer{
    margin-bottom: 80px;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.secondContainer .right{
    padding: 10% 0 0 10%;
    color: #454545;
    font-size: larger;
    font-weight: 600;
}

.secondContainer .left img{
    width: 400px;
}

@media screen and (max-width: 760px){
    .secondContainer{
        padding: 0;
        display: block;
    }
    .secondContainer .left img{
        width: 100%;
    }
    .secondContainer .right{
        padding: 20px 10px;
    }
}

.thirdContainer{
    background-color: #6100ad;
    padding: 50px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.thirdContainer .middle{
    padding: 5%;
    color: #fff;
    font-size: larger;
    font-weight: 600;
}

.thirdContainer .left img, .thirdContainer .right img{
    width: 300px;
}

@media screen and (max-width: 1050px){
    .thirdContainer{
        padding: 0;
        display: block;
    }
    .thirdContainer .left, .thirdContainer .right{
        text-align: center;
    }
    .thirdContainer .middle{
        padding: 20px 10px;
    }
}

.promotion{
    padding: 150px 0;
    text-align: center;
}

.promotion button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #6100ad;
    border: none;
}

.promotion button:hover{
    padding: 11px 22px;
    background-color: #fff;
    transition: 0.25s ease-in-out;
    border: 2px solid #6100ad;
}

.promotion button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.promotion button a:hover{
    color: #6100ad;
}

footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 100px 0;
}

footer p{
    font-size: larger;
    font-weight: 600;
    padding-bottom: 10px;
}
footer span a{
    padding: 5px;
    color: #fff;
}
